# Solutions to Exercise 4

This notebook contains solutions to [Exercise 4](../Exercise%204.ipynb).

<br><br><br><br>

In [1]:
import censusdis.data as ced
import censusdis.maps as cem
from censusdis.datasets import CBP
import censusdis.states as states

import pandas as pd
import matplotlib.pyplot as plt

pd.set_option("max_colwidth", 500)

<br><br><br><br>

## a) How many people were employed in motor vehicle manufacturing in 2022, by state?

Use data from the `CBP` data set to answer this question.

In [2]:
# Find the NAICS2017 code for "motor vehicle manufacturing".
# Start with Michigan, since there must be some there.
df_mi = ced.download(
    CBP,
    2022,
    ["NAICS2017", "NAICS2017_LABEL", "NAME", "EMP"],
    state=states.MI,
)

In [3]:
df_mi[df_mi["NAICS2017_LABEL"].str.contains("motor vehicle manufacturing", case=False)]

,STATE,NAICS2017,NAICS2017_LABEL,NAME,EMP
644,26,3361,Motor vehicle manufacturing,Michigan,41251
645,26,33611,Automobile and light duty motor vehicle manufacturing,Michigan,39939

In [4]:
# Try 3361 for all states
df_states = ced.download(
    CBP,
    2022,
    ["NAICS2017_LABEL", "NAME", "EMP"],
    state="*",
    query_filter={"NAICS2017": "3361"},
)

In [5]:
df_states

   NAICS2017 STATE              NAICS2017_LABEL            NAME    EMP
0       3361    01  Motor vehicle manufacturing         Alabama  18355
1       3361    04  Motor vehicle manufacturing         Arizona   2103
2       3361    05  Motor vehicle manufacturing        Arkansas     23
3       3361    06  Motor vehicle manufacturing      California  26220
4       3361    08  Motor vehicle manufacturing        Colorado    116
5       3361    12  Motor vehicle manufacturing         Florida   1464
6       3361    13  Motor vehicle manufacturing         Georgia   4563
7       3361    16  Motor vehicle manufacturing           Idaho    149
8       3361    17  Motor vehicle manufacturing        Illinois  15284
9       3361    18  Motor vehicle manufacturing         Indiana  23400
10      3361    19  Motor vehicle manufacturing            Iowa     73
11      3361    20  Motor vehicle manufacturing          Kansas   2528
12      3361    21  Motor vehicle manufacturing        Kentucky  22926
13      3361    26  Motor vehicle manufacturing        Michigan  41251
14      3361    27  Motor vehicle manufacturing       Minnesota   1374
15      3361    28  Motor vehicle manufacturing     Mississippi   5861
16      3361    29  Motor vehicle manufacturing        Missouri  10575
17      3361    32  Motor vehicle manufacturing          Nevada   8244
18      3361    34  Motor vehicle manufacturing      New Jersey     11
19      3361    36  Motor vehicle manufacturing        New York   1868
20      3361    37  Motor vehicle manufacturing  North Carolina   5422
21      3361    38  Motor vehicle manufacturing    North Dakota    386
22      3361    39  Motor vehicle manufacturing            Ohio  22432
23      3361    40  Motor vehicle manufacturing        Oklahoma   1306
24      3361    41  Motor vehicle manufacturing          Oregon   1143
25      3361    42  Motor vehicle manufacturing    Pennsylvania   3729
26      3361    45  Motor vehicle manufacturing  South Carolina  15358
27      3361    47  Motor vehicle manufacturing       Tennessee  11690
28      3361    48  Motor vehicle manufacturing           Texas  15461
29      3361    51  Motor vehicle manufacturing        Virginia   4184
30      3361    53  Motor vehicle manufacturing      Washington    545
31      3361    55  Motor vehicle manufacturing       Wisconsin   2274

<br><br><br><br>

## b) What are the top 10 states?

In [6]:
df_states.nlargest(10, "EMP")

   NAICS2017 STATE              NAICS2017_LABEL            NAME    EMP
13      3361    26  Motor vehicle manufacturing        Michigan  41251
3       3361    06  Motor vehicle manufacturing      California  26220
9       3361    18  Motor vehicle manufacturing         Indiana  23400
12      3361    21  Motor vehicle manufacturing        Kentucky  22926
22      3361    39  Motor vehicle manufacturing            Ohio  22432
0       3361    01  Motor vehicle manufacturing         Alabama  18355
28      3361    48  Motor vehicle manufacturing           Texas  15461
26      3361    45  Motor vehicle manufacturing  South Carolina  15358
8       3361    17  Motor vehicle manufacturing        Illinois  15284
27      3361    47  Motor vehicle manufacturing       Tennessee  11690